<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        iframe {
            flex-grow: 1;
            border: none;
            width: 100%;
        }

        #table-block {
            flex: 6;
        }

        #video-block {
            flex: 4;
        }
    </style>
</head>
<body>
    <iframe id="table-block" src="/images/streaming/table"></iframe>
<!--    <iframe id="video-block" src="/images/streaming/video"></iframe>-->
</body>
</html>
